.editGroup .formHeader {
    text-align: center;
    padding-bottom: 1rem;
    margin: 0 0 2rem;
    border-bottom: 1px solid var(--overlay1);
    width: fit-content;
    margin-inline: auto;
}

.editGroup .header {
    margin: 0 0 2rem;
    text-align: left;
}
