.header{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid white;
    align-items: center;
    height: 35px;
    background:#1e1e2e;
}

#search{
    width: 45rem;
    text-align:left;
    border: 1px solid white;
    border-radius: 5px;
    padding:0.5em;
}

#search::placeholder{
    /* font-size: 22px; */
    color: #cdd6f4;
}

.header-logo{ 
    height: 3rem;
    border-radius:100%;
}

.header-buttons{
    display: flex;
    justify-content: space-around;
    width: 13rem;
}
.header-buttons>button{
    width: 5rem;
    height: 50px;
    border-radius: 25px;
}

#userNameAndPfp{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}
#userNameAndPfp>p{
    padding-right:1rem;
}
