.sidebar{
    padding-top: 1rem;
    border-right: 1px solid white;
    background-color: #1e1e2e;
    overflow-y: auto;
}

.sidebar>div>div{
    padding-bottom: 1rem;
}

.group-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
