*{ background:#1e1e2e; }

.group{
    width: 85%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.discussion-area{
    display: flex;
    flex: 1;
    justify-content: space-around;
    background: #1e1e2e;
    width: 100%;
}

.group-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    background : #1e1e2e;
    border-bottom: 2px solid white;
    font-size: 32px;
}

.group-header-img-and-title{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#group-header-img{
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius:100%;
}

#group-header-buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 15rem;
}

.button>*{
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

.divider{
    align-self: stretch;
    width: 1px;
    background: white;
}

.agree{
    background: #1e1e2e;
    flex: 1;
    padding-top: 1rem;
}
.disagree{
    background:#1e1e2e; 
    flex: 1;
    padding-top: 1rem;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#radioBtns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.2rem;
}

.postForm{
    border: 1px white solid;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction:column;
    height: 10rem;
    justify-content: space-around;
    width: 20rem;
}

#message{
    width: 100%;
    height: 50px;
    border: 1px gray solid;
    border-radius: 10px;
    text-align: center;
}

.addMessageButtons{
    display: flex;
    justify-content: space-between;
}

.addMessageButtons>button{
    /* font-size: 10px; */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
