.createGroup{
    margin-left: 25%;
    padding-top: 2rem;
    text-align: center;
    border: none;
}

.createGroup .body{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px white solid;
    border-radius: 20px;
    padding: 2rem;
    background: var(--mantle);
}

.createGroup .inputs{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.createGroup input{
    border: 1px gray solid;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    background: var(--mantle);
    color: var(--text);
}

.createGroup input:hover{
    border-color: var(--pink);
}
.createGroup .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.createGroup .buttons > button{
    padding: 5px 15px;
    border-radius: 5px;
}

.createGroup .formHeader{
    text-align: center;
    padding-bottom: 1rem;
    width: fit-content;
    margin: 0 auto;
}

.createGroup label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
