.searchResults {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--mantle);
}
.searchResultsCard {
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--surface1);
    border-radius: 6px;
    background-color: var(--base);
}

.searchResultsCard:hover{
    border: 1px solid var(--lavender);
}

.searchResultName {
    font-weight: bold; 
}

.searchResultTopic {
    font-size: 0.85rem;
    color: var(--text); 
}

.searchResultCreator{
    font-size: 0.5rem;
    color: white; 
}
